[submodule "private"]
  path = private
  url = git@github.com:pixelastic/oroshi-private.git
  branch = main
[submodule "tools/infrastructure/ansible/config/galactica"]
	path = tools/infrastructure/ansible/config/galactica
	url = git@github.com:pixelastic/ansible-galactica.git
