[submodule "private"]
  path = private
  url = git@github.com:pixelastic/oroshi-private.git
  branch = main
[submodule "config/infrastructure/ansible/galactica"]
	path = config/infrastructure/ansible/galactica
	url = git@github.com:pixelastic/ansible-galactica.git
[submodule "config/term/zsh/plugins/zsh-syntax-highlighting"]
	path = config/term/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
