[submodule "private"]
  path = private
  url = ssh://git@bitbucket.org/pixelastic/oroshi-private.git
  branch = master
[submodule "scripts/etc/dconf-export"]
  path = scripts/etc/dconf-export
  url = git@github.com:pixelastic/dconf-export.git
[submodule "config/zsh/plugins/zsh-syntax-highlighting"]
  path = config/zsh/plugins/zsh-syntax-highlighting
  url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "config/zsh/completion/docker-zsh-completion"]
  path = config/zsh/completion/docker-zsh-completion
  url = git@github.com:felixr/docker-zsh-completion.git
[submodule "scripts/bin/vit"]
  path = scripts/bin/vit
  url = git@github.com:pixelastic/vit.git
  branch = master
[submodule "scripts/bin/img"]
  path = scripts/bin/img
  url = git@github.com:pixelastic/img.git
  branch = master
[submodule "scripts/bin/pdf"]
  path = scripts/bin/pdf
  url = git@github.com:pixelastic/pdf.git
  branch = master
[submodule "scripts/bin/video"]
  path = scripts/bin/video
  url = git@github.com:pixelastic/video.git
  branch = master
[submodule "config/ansible/galactica"]
  path = config/ansible/galactica
  url = git@bitbucket.org:pixelastic/ansible-galactica.git
  branch = master
[submodule "scripts/bin/convert"]
	path = scripts/bin/convert
	url = git@github.com:pixelastic/convert.git
	branch = master
