# Hidden files
.DS_Store
.envrc

# Directories
build/
dist/
node_modules/
tmp/

# Files
Thumbs.db
lerna-debug.log
npm-debug.log
yarn-error.log
*~
scripts/bin/kitty/kitty-layout-load-*.mjs

# Yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Netlify
.netlify
