# Important files that should not be committed
.env
.envrc

# Build directories
build/
dist/
tmp/

# Those dist we want to keep in the repo
!tools/term/zsh/config/theming/dist/
!tools/cli/bat/config/dist/
!tools/cli/rg/config/dist/
!tools/git/git/config/dist/
# Some bats tests can't use the usual $BATS_TMP_DIR because it's in /tmp/ and
# some scripts (like aberlaas) exlude anything that is in /tmp/ by default.
# So we use .bats-tmp instead
.bats-tmp/

# Junk files
.DS_Store
Thumbs.db
lerna-debug.log
npm-debug.log
yarn-error.log
*~
**/__pycache__/
**/__pycache__/*

# Plans
plans/*/ralph.json
plans/*/scaffold
plans/*/COMMIT_HINT.md

# Tool directories
.claude/
.cursor/
.netlify/
.taskmaster/
.turbo/
.yarn/
node_modules/
