[Desktop Entry]
Type=Application
Exec=autokey
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=AutoKey
Name=AutoKey
Comment[en_US]=
Comment=
