[Desktop Entry]
Type=Application
Exec=redshift -x && redshift -o
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Redshift
Name=Redshift
Comment[en_US]=
Comment=

